<mat-toolbar>
    <button mat-icon-button aria-label="Menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  
    <span>{{ title }}</span>
    <span class="spacer"></span>
  
    <!-- Potem do usuniecia te buttony -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Add to favorite">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Share element">
      <mat-icon>share</mat-icon>
    </button>
  
  </mat-toolbar>
  
  <mat-drawer-container class="container" autosize>
  
    <!-- Wysuwane menu -->
    <mat-drawer #drawer mode="side">
  
      <mat-nav-list>
  
        <mat-list-item [routerLink]="['login']">
          <mat-icon>dashboard</mat-icon>
          <span>Login</span>
        </mat-list-item>
  
        <mat-list-item [routerLink]="['register']">
          <mat-icon>add</mat-icon>
          <span>Rejestracja</span>
        </mat-list-item>

      </mat-nav-list>
  
    </mat-drawer>
  
    <div class="content" role="main">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>
  
  <!-- <app-footer></app-footer> -->